body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    padding: 20px;
    border: 2px solid #333; 
    padding: 20px; 
    border-radius: 10px;
}

h1 {
    color: #c00;
}

.task {
    margin-bottom: 30px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    background-color: #c00;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #900;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

.buttons {
    margin-bottom: 10px;
}

/* hr {
    border: none; 
    height: 1px;
    background-color: rgb(12, 12, 12); 
} */
